<<<<<<< HEAD
:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #111827;
  background-color: #f8fafc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}
=======
@import "tailwindcss";
>>>>>>> ac241a3 (Working authentication, form builder UI, partial backend integration)
